{% if not user.is_authenticated %} You're not authenticated. {% else %}
<h1>Welcome, {{ user.username }}!</h1>
<p>Here are some things you can do:</p>
<ul>
    <li>
        <a href="{% url 'projects:app-create' %}">Create your project preferences</a>
    </li>
    <li>
        <a href="{% url 'projects:project-create' %}">Propose a project</a>
    </li>
    {% if not user.githubuser %}
        <li>
            <a href="{% url 'github:connect' %}">Connect your GitHub account</a>
        </li>
    {% endif %}
</ul>
{% endif %}