    .centeredDiv {
        position: "absolute";
        margin: 0;
        width: "100%";
        left: "50%";
        top: "50%";
        transform: "translate(-50%, -50%)";
        z-index: 1;
        color: "#ffffff";
    }
    .titleText {
        font-size: "6em";
        animation: 'x 1.5s';
        animation-name: Radium.keyframes(fadeInUp, 'fadeInUp');
        margin: 0;
        margin-left: 20;
        margin-right: 20;
        margin-bottom: 10;
        line-height: 1;
    }
    .subtitleText {
        font-size: "2em";
        animation: 'x 1.5s';
        animation-name: Radium.keyframes(fadeInUp, 'fadeInUp');
        margin: 0;
        margin-left: 20;
        margin-right: 20;
        line-height: 1;
    }