@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

html, div{
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  overflow-x: hidden;
}

.chip{
  font-family: Raleway;
  font-size: 2em;
}
