{% load static %}
{% if user.is_authenticated %}
<a href={{LOGIN_REDIRECT_URL}}>Profile</a>
{% else %}
<a href="/login">Login</a>
{% endif %}

<div>
    What we do
    <ul>
        {% for repo in repos %}
        <li>
            <div>
                <a href={{repo.url}}>{{ repo.name }}</a> - {{ repo.description }}</div>
            <ul>
                {% for member in repo.contributors.all %}
                <li>
                    <!-- <img src={{member.avatar_url}}/> -->
                    <a href={{member.url}}>
                        {% if member.name %} {{ member.name }} {% else %} {{member.login}} {% endif %}</a>
                </li>
                {% endfor %} {{repo.primary_language}}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
<div>
    Who we are
    {% get_static_prefix as STATIC_URL %}
    {% for item in officer_photos %}
        <img src="{{ STATIC_URL }}officers/{{item}}" alt="Officer photo">
    {% endfor %}
</div>