<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="description" content="This is the about page for Aggie Coding Club.">
    <meta charset="UTF-8">
    <title>Aggie Coding Club - About</title>
    <link rel="stylesheet" href="/static/bs.css">
    <link rel="stylesheet" href="/static/index.css">
</head>


<body>
    <% include partials/header %>
    <section class="about">
        <div class="intro-left col-lg-7">
            <h1>About Us</h1>
            <p>
                Aggie Coding Club provides the students of Texas A&M University that are interested in software development the opportunity to explore their careers and passions through projects, meetings, and workshops. The club also provides a community where members can benefit from valuable networking opportunities and learn from each other.
            </p>
            <P id="meeting"><b>Meeting Time:</b> <br/><time>Monday 7pm to 9pm</time></P>
            <button onclick="window.location.href='https://aggie-coding-club.slack.com'" id="slack-button"><p>Join Our Slack</p> <img src="/static/images/slack-clr.svg" /></button>
        </div>
        <div class="intro-right col-lg-5">
            <img alt="main image" src="/static/images/acc-website-graphics.png">
        </div>
    </section>
    <section>
        <h1>Officers</h1>
        <div class="row">
            <div class="row col-lg-6">
            <% var i = 0 %>
            <% for (const officer of officers) { %>
                <div class="officer-card col-lg-6 col-md-6 col-sm-6">
                    <div class="officer-img" style="background-image: url('<%=officer.image%>')"></div>
                    <h3><%=officer.name%></h3>
                    <h4><%=officer.major%></h4>
                    <h4><%=officer.position%></h4>
                    <p><%=officer.description%></p>
                </div>
                <% i++; %>
                    <% if (i == 2) { %>
                        </div><div class="row col-lg-6">
                    <% } %>
                    <% if (i == 4) { %>
                        </div></div><div class="row"><div class="row col-lg-6">
                        <% i = 0 %>
                    <% } %>
                <% } %>
        </div></div>
    </section>
    <section class="sponsored-by">
        <h1 class="mb-5">Sponsors</h1>
        <div class="sponsor-container">
            <div class="row align-items-center">
                <div class="col-md-4 col-6">
                    <a href="https://www.parivedasolutions.com/careers-overview" target="_blank"><img alt="Pariveda Logo" src="/static/images/sponsors/pariveda.svg" class="sponsor-logo-sm left" id="pariveda-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="http://www.capsher.com/careers/" target="_blank"><img alt="Capsher Logo" src="/static/images/sponsors/capsher.jpg" class="sponsor-logo-sm center" id="capsher-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://careers.jpmorgan.com" target="_blank"><img alt="JPMorgan Chase Logo" src="/static/images/sponsors/jpmc.svg" class="sponsor-logo-sm right" id="jpmc-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://careers.southwestair.com/" target="_blank"><img alt="Southwest Logo" src="/static/images/sponsors/southwest.svg" class="sponsor-logo-sm left" id="southwest-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://www.capitalonecareers.com/" target="_blank"><img alt="Capital One Logo" src="/static/images/sponsors/capitalone.svg" class="sponsor-logo-sm center" id="capitalone-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://www.aboutschwab.com/careers" target="_blank"><img alt="Charles Schwab Logo" src="/static/images/sponsors/schwab.svg" class="sponsor-logo-sm right" id="schwab-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://careers.hcss.com/" target="_blank"><img alt="HCSS Logo" src="/static/images/sponsors/hcss.png" class="sponsor-logo-sm left" id="hcss-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://www.acceptthechallenge.com/" target="_blank"><img alt="West Monroe Logo" src="/static/images/sponsors/westmonroe.svg" class="sponsor-logo-sm center" id="westmonroe-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://jobs.lever.co/stellar" target="_blank"><img alt="Stellar Logo" src="/static/images/sponsors/stellar.png" class="sponsor-logo-sm right" id="stellar-logo"></a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://www.bellflight.com/company/careers" target="_blank"><img alt="Bell Logo" src="/static/images/sponsors/bell.svg" class="sponsor-logo-sm left" id="bell-logo"></a>
                </div>
            </div>
        </div>
    </section>
    <% include partials/footer %>
</body>

</html>
