<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="description" content="This is the about page for Aggie Coding Club.">
    <meta charset="UTF-8">
    <!--Temporary CSS-->
    <style>
        img {
            width: 300px;
            height: 300px;
        }
    </style>
</head>

<body>
    <h1>Officers</h1>
        <% for (const officer of officers) { %>
            <div>
                <img src="<%=officer.image%>">
                <h3><%=officer.name%></h3>
                <h4><%=officer.major%></h4>
                <h4><%=officer.position%></h4>
                <p><%=officer.description%></p>
            </div>
            <% } %>
    <h1>Sponsors</h1>
    <ul>
        <li>Pariveda Solutions</li>
        <li>Capsher Technology</li>
        <li>JP Morgan Chase</li>
        <li>Southwest Airlines</li>
        <li>Capital One</li>
        <li>Charles Schwab</li>
        <li>HCSS</li>
        <li>West Monroe Partners</li>
        <li>Stellar Development Foundation</li>
        <li>Textron</li>
    </ul>
</body>

</html>