<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="description" content="This is the about page for Aggie Coding Club.">
    <meta charset="UTF-8">
    <!--Temporary CSS-->
    <style>
    img {
        width: 300px;
        height: 300px;
    }
    </style>
</head>

<h1>Officers</h1>
<p><img src="../images/hannah_gooden.jpg">Hannah Gooden, President, Computer Science &#39;20. Hannah has two minors in astrophysics and cybersecurity, and is very interested in the way scientists use computing to do research. She also loves traveling, and spent a whole summer in New Mexico, where she crewed for a hot air balloon team on her weekends.<br>
    <img src="../images/gabriel_britain.jpg">Gabriel Britain, Vice President, Computer Science &#39;20. When Gabriel isn't organizing hackathons or reading papers for his research, you can find him whipping something up in the kitchen, or 30 feet underwater scuba diving! <br>
    <img src="../images/feras_khemakhem.jpg">Feras Khemakhem, Project Management Chair, Computer Science &#39;20. Feras specializes in Computer Graphics and animation, and hopes to continue this work into the field. Personal hobbies include traveling to eat good food, and gaming. <br>
    <img src="../images/marissa_soria.jpg">Marissa Soria, Events Chair, Electronic Systems Engineering Technology &#39;20. Marissa has a special interest in cyber security and hardware integration and in her free time enjoys baking and gardening. <br>
    <img src="../images/thomas_mcdonald.jpg">Thomas McDonald, Co-Workshops Chair, Computer Science &#39;20. Thomas is a senior computer science student that has experience in several industries and loves to work with people to meet objectives. Outside of school and work, he enjoys rock climbing and spending time with family and friends. <br>
    <img src="../images/edgar_martinez.jpg">Edgar Martinez, Co-Workshops Chair, Computer Science &#39;20. Edgar is a computer science major who enjoys learning from others and helping others learn. It is likely that he has had more tacos than any other member in the Aggie Coding Club. <br>
<br>
<img src="../images/mitchell_eldridge.jpg">Mitchell Eldridge, Officer in Training, Computer Science &#39;20. Mitchell is interested in cyber security, machine learning, and teaching. With his free time, he enjoys rock climbing and hiking. <br>
<img src="../images/alsten_okpisz.jpg">Alsten Okpisz, Officer in Training, Computer Science &#39;21. Alsten enjoys front-end web development and running Dungeons and Dragons games for friends. <br>
<img src="../images/shrey_shah.jpg">Shrey Shah, Officer in Training, Computer Engineering &#39;21. Shrey loves to code in Python and is extremely interested in Machine Learning and Cloud Computing. He is also a magician and has performed in stage shows and street magic. <br>
<img src="../images/yonathan_zetune.jpg">Yonathan Zetune, Officer in Training, Mechanical Engineering &#39;22. Yonathan is a mobile development aficionado and is trying to transfer into CS. In his free time he enjoys watching the TechLead or The Good Place and listens to jazz, otherwise known as elevator music, when he can. <br>
</p>

</html>