<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Aggie Coding Club - Announcements</title>
        <meta name="description" content="Here you can find future events and announcements.">
        <link rel="stylesheet" href="/static/bs.css">
        <link rel="stylesheet" href="/static/index.css">
        <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
    <% include partials/header %>
    <section class="container announcements">
        <h1>Announcements</h1>
        
                <!-- <div class="row justify-content-center mb-5"> -->
                    <!-- <div class="row justify-content-center"> -->
                        <!-- <div class="col-md-6"> -->
                        <!-- <div class="card-deck"> -->
                        <div class="ann-cards justify-content-center">
                            <% for (const ann of announcements) { %>
                            <div class="shadow ann">
                                <div class="card-body text-center ann-body">
                                    <div class="card-title"><h3><%=ann['title']%></h3></div>
                                    <h4><%=ann['date']%></h4>
                                    <h5><%=ann['time']%></h5>
                                    <!-- <h4>Workshop: <%=ann['workshop-title']%></h4> -->
                                    <!-- <h5>from <%=ann['workshop-time']%></h5> -->
                                    <!-- <h5>Description:<br><%=ann['workshop-description']%></h5> -->
                                    <!-- <h4>Company: <%=ann['company-name']%></h4> -->
                                    <!-- <h5>from: <%=ann['presentation-time']%></h5> -->
                                    <h5><%=ann['workshop-description']%></h5>
                                </div>
                            </div>
                            <% } %> 
                        </div>
                            
                        <!-- </div> -->
                            
                        <!-- </div> -->
                        
                        
                        
                    <!-- </div> -->
                <!-- </div> -->
              
            
    </section>
    
    <% include partials/footer %>
    </body>
</html>