<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Aggie Coding Club - Announcements</title>
        <meta name="description" content="Here you can find future events and announcements.">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/static/bs.css">
        <link rel="stylesheet" href="/static/index.css">
        <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
    <% include partials/header %>
    <section class="container announcements">
        <h1 style="text-align: center;">Announcements</h1>
            <div class="ann-cards justify-content-center">
                <% for (const ann of announcements) { %>
                <div class="shadow ann">
                    <div class="head text-center">
                        <img src=<%=ann['image']%> alt="">
                        <div class="card-title"><h3 class="cardtitle3"><%=ann['title']%></h3></div>
                    </div>
                    <div class="card-body text-center ann-body">
                        <div class="info">
                            <h4 class="card4"><span><%=ann['date']%></span> from <%=ann['time']%></h4>
                        </div>
                        <h5 class="card5"><%=ann['description']%></h5>
                    </div>
                </div>
                <% } %> 
            </div>
    </section>
    
    <% include partials/footer %>
    </body>
</html>