<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="description" content="This is the homepage for Aggie Coding Club.">
    <meta charset="UTF-8">
</head>

<body>
<a target="_blank" rel="noopener noreferrer" href="https://aggie-coding-club.slack.com">Join Slack</a>
<a href="/about">Learn more about ACC!</a>
    <a href="/announcements">Announcements</a>
    See our Learning and Progress Oriented projects <a href="/projects">here!</a>
    <center><P>Weekly Meeting Time: <time>Monday 7pm to 9pm</time></P></center>
<p>
    What is ACC?<br><br>
    Aggie Coding Club provides the students of Texas A&M University that are interested in software development the opportunity to explore their careers and passions through projects, meetings, and workshops. The club also provides a community where members can benefit from valuable networking opportunities and learn from each other.
</p>
</body>


</html>
