<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="description" content="This is the about page for Aggie Coding Club.">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bs.css">
    <link rel="stylesheet" href="/static/index.css">
</head>


<body>
    <header>
        <nav>
            <a class="navbar-brand" href="/"><img src="/static/images/acc.png" /></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul> 
        </nav>
    </header>
    <section class="projects">
        <div class="intro-left col-lg-7">
            <h1>Projects</h1>
            <p>
                There are many benefits to starting side projects. Aggie Coding Club provides an opportunity to learn new skills and boost work performance. 
            </p>
            <a href="#learning" class="cat-button">Learning Oriented</a> <a href="#progress" class="cat-button">Progress Oriented</a>
        </div>
        <div class="intro-right col-lg-5">
            <img alt="main image" src="/static/images/img.jpg">
        </div>
    </section>

    <section class="project-cat" id="learning">
        <h1>Learning Oriented Projects</h1>
        <div>
                <h2>CHIP-8 Emulator</h2>
                    <ul>
                        <li>Our goal is to build a fully functional emulator for the CHIP-8 </li>
                        <li>Tools: Rust, Simple DirectMedia Layer</li>
                    </ul>
            </div>
            <div>
                <h2>Basic</h2>
                    <ul>
                        <li>Basic will be a REST API containing a collection of microservices that perform functions that require a server</li>
                        <li>Microservices will include DNS lookups, sending emails, file conversion and more.</li>
                        <li>Our goal will be to develop these microservices with the focus on making them scalable, clusterable, fast and resource-efficient.</li>
                        <li>Learning oriented: VMs, creating server clusters, working with several server-side languages, authentication, using proxies, debugging and more.</li>
                        <li>Tools: Virtual Machines, Go, PHP, Python, NodeJS, REST API, A Proxy</li>
                    </ul>
            </div>
            <div>
                <h2>Media Tracker</h2>
                    <ul>
                        <li>Self-hosted open-source digital bookshelf/catalog for all types of media (music, games, movies, anime, etc) with list support</li>
                        <li>Tools:</li>
                            <ul>
                                <li>Backend: Python (Flask), MongoDB (storage)/JSON, OpenAPI/Swagger, Keycloak, Scrapers</li>
                                <li>Frontend: React, React Native (Mobile)</li>
        
                            </ul>
        
                    </ul>
            </div>
            <div>
                <h2>Create your first website!</h2>
                    <ul>
                        <li>A self-intro informative web with text and pics (decoration)</li>
                        <li>Ex. Online useful calculators or puzzle games. (basic interaction)</li>
                        <li>Tools: Python, C++, HTML, CSS</li>
                    </ul>
            </div>
            <div>
                <h2>Aggie Involvement Project</h2>
                    <ul>
                        <li>The Aggie Involvement Project will be a service designed to facilitate student-organization interaction. </li>
                        <li>Learn to program iOS/Android apps, design UI, and create data storage services!</li>
                        <li>Tools: Swift, Xcode, Adobe Xd, Firebase, Trello, Stack Overflow</li>
                    </ul>
            </div>
        
            <div>
                <h2>The Gallery App</h2>
                    <ul>
                        <li>Native and Web App that will help showcase company products</li>
                        <li>Understand how every tool/concept comes together to build out an entire application</li>
                            <ul>
                                <li>Microservices</li>
                                <li>Containerzation</li>
                                <li>Scalable Applications</li>
                                <li>CI/CD</li>
                            </ul>
                        <li>Tools: React & React Native, NodeJS, Express, MongoDB, Docker, Kubernetes</li>
                    </ul>
            </div>
        
            <div>
                <h2>Aggie Involvement Project</h2>
                    <ul>
                        <li>The Aggie Involvement Project will be a service designed to facilitate student-organization interaction. </li>
                        <li>Learn to program iOS/Android apps, design UI, and create data storage services!</li>
                        <li>Tools: Swift, Xcode, Adobe Xd, Firebase, Trello, Stack Overflow</li>
                    </ul>
            </div>
        
            <div>
                <h2>Dungeons and Debugging</h2>
                    <ul>
                        <li>Top-down 2D Dungeon Crawler RPG mobile game</li>
                        <li>Story about collecting lost memories</li>
                        <li>Tools: Unity, C#</li>
                    </ul>
            </div>
        
            <div>
                <h2>Cloud Text Editor</h2>
                    <ul>
                        <li>A simple and fast web app for cross-platform online text editing and file management supporting multiple platforms like Google Drive and Dropbox
        </li>
                        <li>Tools: Javascript, HTML, Firebase, Various API's</li>
                    </ul>
            </div>
        
            <div>
                <h2>Aggie Agenda</h2>
                    <ul>
                        <li>A simple design to allow Aggies to use an editable calendar to display tests and assignment due dates and time spent in class
         </li>
                        <li>Allow students to coordinate alerts for due dates and have an easy, intuitive display for a weekly schedule. </li>
                        <li>Can look at a week at a glance, or at a monthly schedule </li>
                        <li>Tools: C++, web-crawling, API's</li>
                    </ul>
            </div>
        
            <div>
                <h2>Leetcode Bootcamp</h2>
                    <ul>
                        <li>Workshop on Leetcode problems</li>
                    </ul>
            </div>
        
            <div>
                <h2>Fake News Detector</h2>
                    <ul>
                        <li>Project: Develop an application to determine the probability that a news article is “fake news.”</li>
                        <li>Goal: Working model by semester end
        Learning oriented
        </li>
                        <li>Tools: Python, Natural Language Processing, Machine Learning, Git</li>
                    </ul>
            </div>
    </section>

    <section class="project-cat" id="progress">
        <h1>Projects Oriented Projects</h1>
    </section>

    <footer>
        <div class="links">
            <p>Let's Socialize</p>
            <a target="_blank" rel="noopener noreferrer" href="https://aggie-coding-club.slack.com"><img src="/static/images/slack.svg"/></a>
            <a href=""><img src="/static/images/github.svg"/></a>
        </div>
    </footer>
</body>

</html>