<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="description" content="This is the projects page for Aggie Coding Club.">
    <title>Aggie Coding Club - Projects</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bs.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
</head>


<body>
    <% include partials/header %>
    <section class="projects">
        <div class="intro-left col-lg-7">
            <h1>Projects</h1>
            <p>
                There are many benefits to starting side projects. Aggie Coding Club provides an opportunity to learn new skills and boost work performance.
            </p>
            <a href="#learning" class="cat-button">Learning Oriented</a> 
            <a href="#progress" class="cat-button">Progress Oriented</a>
        </div>
        <div class="intro-right col-lg-5">
            <img alt="main image" src="/static/images/acc-website-graphics2.png">
        </div>
    </section>

    <section class="project-cat" id="learning">
        <h1>Learning Oriented Projects</h1>
        <% for (const project of learningOriented) { %>
        <div class="col-lg-6 col-12 px-1">
        <div class="project-card h-100">
            <h2><a target="_blank" href="<%=project.repoURL %>"><%=project.name%></a></h2>
            <div class="project-tools">
                <% for (const tool of project.tools) { %>
                <span><%=tool%></span> <% } %>
            </div>
            <p><%=project.description%></p>
            <div>
                <% for (const member of project.members) { %>
                <a target="_blank" href="<%=member.profileURL%>"><img class="project-lead" src="<%=member.imageURL%>"></a> <%} %>
            </div>
        </div>
        </div>
        <% } %>
        <p id="tim">"Live a life you will remember" -◢◤</p>
    </section>

    <section class="project-cat" id="progress">
        <h1>Progress Oriented Projects</h1>
        <% for (const project of progressOriented) { %>
        <div class=" col-lg-6 col-12 px-1">
        <div class="project-card h-100">
            <h2><a target="_blank" href="<%=project.repoURL %>"><%=project.name%></a></h2>
            <div class="project-tools">
                <% for (const tool of project.tools) { %>
                <span><%=tool%></span> <% } %>
            </div>
            <p><%=project.description%></p>
            <div>
                <% for (const member of project.members) { %>
                <a target="_blank" href="<%=member.profileURL%>"><img class="project-lead" src="<%=member.imageURL%>"></a> <%} %>
            </div>
        </div>
        </div>
        <% } %>
    </section>
    <% include partials/footer %>
</body>

</html>
