<footer>
    <div class="links">
        <!-- <p>Let's Socialize</p> -->
        <a href="mailto:aggiecodingclub@gmail.com" title="Write an email to us"><img src="/static/images/gmail.svg"></a>
        <a target="_blank" title="Join ACC Discord" rel="noopener noreferrer" href="https://discord.com/invite/HWxVvNt"><img src="/static/images/discord_black.svg"/></a>
        <a target="_blank" title="Explore ACC GitHub" href="https://github.com/aggie-coding-club/club-website"><img src="/static/images/github.svg"/></a>
        <a target="_blank" title="Connect with ACC on LinkedIn" rel="noopener noreferrer" href="https://www.linkedin.com/company/aggie-codingclub"><img src="/static/images/linkedin.svg"/></a>
        <a target="_blank" title="Follow ACC on Instagram" href="https://www.instagram.com/aggiecodingclub/"><img src="/static/images/instagram.svg"/></a>
        <p>Aggie Coding Club &copy 2020</p>
    </div>
</footer>
<script>
    function navToggle() {
      var x = document.getElementById("res-menu");
      if (x.className === "menu") {
        x.className += " small-drop";
      } else {
        x.className = "menu";
      }
    }
</script>