<footer>
    <div class="links">
        <!-- <p>Let's Socialize</p> -->
        
        <a target="_blank" rel="noopener noreferrer" href="https://aggie-coding-club.slack.com"><img src="/static/images/slack.svg"/></a>
        <a href="https://github.com/aggie-coding-club/club-website"><img src="/static/images/github.svg"/></a>
        <a href="https://www.instagram.com/aggiecodingclub/"><img src="/static/images/instagram.svg"/></a>
        <p>Aggie Coding Club &copy2020</p>
    </div>
    <!-- <div class="copyright"> -->
      <!-- <p>Aggie Coding Club &copy2020</p> -->
    <!-- </div> -->
</footer>
<script>
    function navToggle() {
      var x = document.getElementById("res-menu");
      if (x.className === "menu") {
        x.className += " small-drop";
      } else {
        x.className = "menu";
      }
    }
</script>