<footer>
    <div class="links">
        <p>Let's Socialize</p>
        <a target="_blank" rel="noopener noreferrer" href="https://aggie-coding-club.slack.com"><img src="/static/images/slack.svg"/></a>
        <a href="https://github.com/aggie-coding-club/club-website"><img src="/static/images/github.svg"/></a>
    </div>
</footer>