<header>
    <nav>
        <a class="navbar-brand" href="/"><img src="/static/images/acc.png" /></a>
        <a class="menu-icon" href="javascript:void(0);" onclick="navToggle()"><img src="/static/images/menu.svg"/></a>
        <ul class="menu" id="res-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <!-- <li><a href="/announcements">Announcements</a></li> -->
        </ul>
    </nav>
</header>