/* command: sass --watch src/static/index.scss:src/static/index.css */
html {
  scroll-behavior: smooth;
  min-height: 100%; }

nav {
  padding: 0px 10%;
  overflow: hidden;
  /* Change the link color to #111 (black) on hover */ }
  nav .navbar-brand {
    overflow: hidden; }
    nav .navbar-brand img {
      padding: 15px;
      height: 100%;
      max-height: 90px;
      width: auto;
      display: inline-block; }
  nav ul {
    list-style-type: none;
    font-size: 16px;
    margin: 0;
    padding: 20px 0px;
    overflow: hidden;
    float: right; }
  nav li {
    float: left; }
  nav li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none; }
  nav li a:hover {
    color: #0389CD;
    text-decoration: none; }

body {
  min-height: 100%; }
  body p {
    font-size: 16px; }

section {
  padding: 5% 10% 2% 10%;
  overflow: hidden;
  margin: 0px;
  width: 100%; }
  section .intro-left {
    padding-top: 80px;
    margin-bottom: 20px; }
  section .intro-right {
    padding: 0px 50px;
    overflow: hidden; }
  section img {
    max-width: 100%;
    max-height: 100%; }

.px-1 {
  padding-bottom: 15px;
  display: inline-block; }

.intro {
  padding: 5% 10%;
  min-height: 100vh; }
  .intro .small-title {
    font-size: 4rem;
    margin-bottom: 0px; }
  .intro .big-title {
    margin-top: 0px;
    font-size: 6rem; }
  .intro form {
    border: 1px solid grey;
    border-radius: 20px;
    max-width: 400px; }
    .intro form .form-group {
      padding: 10px 20px;
      width: calc(100% - 70px);
      display: inline-block; }
    .intro form input {
      height: 30px;
      border: none;
      background: none; }
    .intro form button {
      margin-left: 20px;
      width: 35px;
      height: 35px;
      display: inline-block;
      background: #0389CD;
      border: none;
      color: white;
      border-radius: 80px; }

.about img {
  padding: 40px 20px; }
.about #meeting {
  margin-top: 30px; }
.about #slack-button {
  margin-top: 20px;
  border: 1px grey solid;
  border-radius: 20px;
  width: 100%;
  max-width: 250px;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: white; }
  .about #slack-button p {
    width: 70%;
    display: inline; }
  .about #slack-button img {
    width: 30%;
    display: inline;
    max-height: 1.5em;
    padding: 0px 20px 5px 20px; }
.about #slack-button:hover {
  margin-top: 20px;
  border: 1px grey solid;
  border-radius: 20px;
  width: 100%;
  max-width: 250px;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #dadada; }
  .about #slack-button:hover img {
    max-height: 1.5em;
    padding: 0px 20px 5px 20px; }

.officer-card {
  padding: 0px 30px;
  margin-top: 40px;
  /*min-width: 400px; */ }
  .officer-card .officer-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; }
  .officer-card h4 {
    margin: 0px; }
  .officer-card p {
    font-size: 14px; }

.center {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block; }

.left {
  margin-right: auto !important;
  display: block; }

.right {
  margin-left: auto !important;
  display: block; }

.sponsored-by .sponsor-logo-lg,
.sponsored-by .sponsor-logo-md,
.sponsored-by .sponsor-logo-sm {
  transition: 0.5s;
  margin: 30px 0;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 100%;
  max-width: 250px; }
.sponsored-by .sponsor-logo-lg:hover,
.sponsored-by .sponsor-logo-md:hover,
.sponsored-by .sponsor-logo-sm:hover {
  transform: scale(1.05);
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%); }
.sponsored-by #capsher-logo {
  max-width: 150px; }
.sponsored-by #schwab-logo {
  max-width: 125px; }
.sponsored-by #hcss-logo {
  max-width: 150px; }
.sponsored-by #bell-logo {
  max-width: 100px; }
.sponsored-by #westmonroe-logo {
  max-width: 300px; }
.sponsored-by #jpmc-logo {
  max-width: 350px; }

.projects {
  overflow: hidden; }
  .projects img {
    padding: 40px 20px; }
  .projects .cat-button {
    margin: 40px 10px 0px 0px;
    border: 0px grey solid;
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 16px;
    color: white;
    background-color: grey;
    display: inline-block; }
    .projects .cat-button img {
      float: right;
      max-height: 1.5em;
      padding: 0px 20px 5px 20px; }
  .projects .cat-button:hover {
    cursor: pointer;
    background-color: #0389CD;
    text-decoration: none; }

.project-card {
  margin: 0px;
  border: 0px #c4c4c4 solid;
  border-radius: 5px;
  width: 100%;
  color: black;
  padding: 10px 30px 20px 30px;
  background-color: white;
  display: inline-block; }
  .project-card span {
    border: 1px #0389CD solid;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #0389CD;
    border-radius: 3px;
    display: inline-block; }
  .project-card .project-lead {
    border-radius: 50px;
    max-width: 40px; }

.project-card:hover {
  -webkit-box-shadow: 1px 1px 10px 0px rgba(158, 158, 158, 0.4);
  -moz-box-shadow: 1px 1px 10px 0px rgba(156, 156, 156, 0.4);
  box-shadow: 1px 1px 10px 0px rgba(160, 160, 160, 0.4); }

.announcements h2 {
  color: white;
  background-color: #0389CD;
  padding: 10px 20px;
  border-radius: 30px;
  display: inline-block; }
.announcements .month-events {
  margin-bottom: 20px; }
.announcements .event-card {
  margin-bottom: 20px;
  border: 1px #c4c4c4 solid;
  border-radius: 5px;
  padding: 10px 30px 20px 20px;
  background-color: white;
  display: inline-block; }
.announcements .event-card:hover {
  -webkit-box-shadow: 1px 1px 10px 0px rgba(158, 158, 158, 0.4);
  -moz-box-shadow: 1px 1px 10px 0px rgba(156, 156, 156, 0.4);
  box-shadow: 1px 1px 10px 0px rgba(160, 160, 160, 0.4); }

.competitions .comps {
  margin-bottom: 20px; }
.competitions .comp-card {
  margin-bottom: 20px;
  border: 1px #c4c4c4 solid;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  background-color: white;
  display: inline-block; }
.competitions .comp-card:hover {
  -webkit-box-shadow: 1px 1px 10px 0px rgba(158, 158, 158, 0.4);
  -moz-box-shadow: 1px 1px 10px 0px rgba(156, 156, 156, 0.4);
  box-shadow: 1px 1px 10px 0px rgba(160, 160, 160, 0.4); }

.project-cat h1 {
  text-align: center;
  margin-bottom: 60px; }
.project-cat #tim {
  margin: 0px;
  color: #0389CD;
  cursor: default; }

#learning {
  color: white;
  background-color: #0389CD; }

#progress .project-card {
  border: 1px #c4c4c4 solid; }

footer {
  background: #0389CD;
  min-height: 100px;
  overflow: hidden;
  color: white;
  padding: 0px 10%; }
  footer .links {
    padding: 20px 40px 40px 40px;
    min-width: 300px;
    float: right; }
    footer .links p {
      padding: 0px 10px; }
  footer a img {
    max-width: 60px;
    filter: invert(1);
    padding: 0px 15px; }

/*# sourceMappingURL=index.css.map */
