////declare your variables BEFORE importing bootstrap
$dark: #02233a;
$primary: #3766b4;
$secondary: #eef6ff;
$custom-color: #0f5f35;
$nav-link-color: #969696;

$small-screen: 768px;

$badge-size: 75px;
$officer-img-width: 250px;
$officer-img-height: 250px;

@import '../../node_modules/bootstrap/scss/bootstrap';

.welcome {
  background-color: $secondary;
  @media (min-width: $small-screen) {
    border-radius: 25px;
    margin: 0 30px;
  }
  .welcome-content {
    padding: 60px 40px;

    .welcome-words {
      margin-right: 40px;
      max-width: 565px;
    }
  }

  .welcome-heading {
    text-align: left;
    font-weight: 600;
    font-size: 55px;
    @media (max-width: $small-screen) {
      text-align: center;
    }

    .heading-emphasis {
      color: $primary;
      display: block;
    }
  }
}

.fake-pic {
  background-color: $secondary;
  border: 1px solid $primary;
  height: 400px;
}

#what-we-do {
  .image {
    width: 300px;
    height: 400px;
  }

  .blue-box {
    top: 30px;
    left: 30px;
  }

  .list-item {
    margin: 5px 0;
  }
  .circle {
    background-color: $secondary;
    height: $badge-size;
    width: $badge-size;
    vertical-align: middle;
    border-radius: 50%;
  }

  .circle-txt {
    text-align: center;
    color: $primary;
    font-weight: bold;
    font-size: 30px;
    line-height: $badge-size;
  }
}

#how-to-join {
  .blue-box {
    top: 30px;
    left: 40px;
  }
}

#projects {
  .blue-box {
    top: 10px;
    left: 20px;
  }
}

.past-projects {
  align-items: stretch;
  .heading {
    font-weight: 600;
    font-size: 25px;
  }
  .card {
    background-color: $secondary;
    height: 100%;
    cursor: pointer;
    @media (min-width: $small-screen) {
      max-width: 18rem;
    }
  }

  .card-text {
    margin-bottom: 30px;
  }
  .learn-more-container {
    position: absolute;
    bottom: 15px;
  }

  .learn-more {
    margin-top: 15px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: $primary;
    text-decoration: none;
    transition: all 0.25s ease-out;
  }

  .learn-more:hover {
    cursor: pointer;
    background-color: #d1cdcd4a;
  }
}

#officer-team {
  .name {
    text-align: center;
    font-weight: 600;
  }

  .img-img {
    width: $officer-img-width;
    height: $officer-img-height;
  }

  /* Parent Container */
  .img-wrap {
    position: relative;
  }

  /* Child Text Container */
  .img-description {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    height: $officer-img-height;
    width: $officer-img-width;
    color: black;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    text-align: center;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;

    .description-header {
      margin-bottom: 10px
    }
  }

  /* Hover on Parent Container */
  .img-wrap:hover {
    cursor: pointer;
  }

  .img-wrap:hover .img-description {
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.8;
  }

  .caption {
    display: flex;
    justify-content: center;

    .github-icon {
      width: 18px;
      height: 18px; 
      margin: 2px 0 0 10px;
    }

  }
}

#former-officers {
  display: none;
}

// config
* {
  color: $dark;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

.btn-primary {
  border-radius: 0;
  padding: 10px 50px;
}

// navbar
.navbar-nav {
  flex-direction: row;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    padding: 15px;
  }

  a {
    color: $nav-link-color;
    text-decoration: none;
    transition: all 1s ease-out;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
    text-decoration-color: $primary;
    text-decoration-thickness: 3px;
    color: $dark;
  }
}

h1 {
  font-weight: 600;
  color: $dark;
  font-size: 55px;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

h6 {
  text-align: center;
}

.no-small-display {
  @media (max-width: $small-screen) {
    display: none;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.center-small {
  @media (max-width: $small-screen) {
    display: flex;
    justify-content: center;
  }
}

.center-text-small {
  text-align: left;
  @media (max-width: $small-screen) {
    text-align: center;
  }
}

.center-margin-y {
  margin: auto 0;
}

.image-container {
  position: relative;
  .blue-box {
    width: 300px;
    height: 400px;
    position: absolute;
    background-color: $secondary;
    z-index: -1;
  }
}
