////declare your variables BEFORE importing bootstrap
$dark-theme: "dark-theme";
$light-theme: "light-theme";
$computer-img: "computer-img";

$dark: #001030;
$primary: #0047ba;
$secondary: #bddbfb;
$secondary-hovered: #b2ceec;
$custom-color: #0f5f35;
$nav-link-color: #969696;
$general-background: #FAFAFA;

$themes: (
        $light-theme: (
          $general-background: #FAFAFA,
          $dark: #03202c,
          $primary: #0047ba,
          $secondary: #b2ceec,
          $secondary-hovered: #99b1cb,
          $custom-color: #0f5f35,
          $nav-link-color: #969696,
          $computer-img: "images/computer.png",
        ),
        $dark-theme: (
          $general-background: #040916,
          $dark: #ffffff,
          $primary: #0141cd,
          $secondary: #1d1e34,
          $secondary-hovered: #2b2d4d,
          $custom-color: #0f5f35,
          $nav-link-color: #969696,
          $computer-img: "images/computer_darkmode.png",
        )
);

$small-screen: 768px;

$badge-size: 75px;
$officer-img-width: 250px;
$officer-img-height: 250px;

@import '../../node_modules/bootstrap/scss/bootstrap';


@mixin themeProperty($theme, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties) {
  @if $additionalPropertiesPositionIsFront {
    #{$property}: unquote($additionalProperties + ' ' + map-get($theme, $color));
  } @else {
    #{$property}: unquote(map-get($theme, $color) + ' ' + $additionalProperties);
  }
}

@mixin theme($property, $color, $additionalPropertiesPositionIsFront: false, $additionalProperties: '') {
  $light: map-get($themes, $light-theme);
  $dark: map-get($themes, $dark-theme);

  @include themeProperty($light, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);

  @media (prefers-color-scheme: dark) {
    @include themeProperty($dark, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);
  }
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    padding: 15px;
  }

  a {
    @include theme('color', $nav-link-color);
    text-decoration: none;
    transition: all 1s ease-out;
  }

  a:hover,
  a:focus {
    @include theme('color', $dark);
    @include theme('text-decoration-color', $primary);
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }

  // navbar
  .navbar-nav {
    flex-direction: row;
  }
}

.welcome {
  @include theme('color', $dark);
  display: flex;
  justify-content: center;

  .welcome-content {
    @include theme('background-color', $secondary);
    padding: 60px 0;
    width: 100vw;

    @media (min-width: 1100px) {
      @include theme('background-color', $secondary);
      border-radius: 25px;
      width: 80vw;
      max-width: 1320px;
      // margin: 0 30px;
    }
    .welcome-words {
      @include theme('background-color', $secondary);
      margin-right: 40px;
      max-width: 565px;
    }
  }

  .welcome-heading {
    @include theme('background-color', $secondary);
    text-align: left;
    font-weight: 600;
    font-size: 55px;
    @media (max-width: $small-screen) {
      text-align: center;
    }

    .heading-emphasis {
      @include theme('background-color', $secondary);
      @include theme('color', $primary);
      display: block;
    }
  }
}

#what-we-do {
  z-index: 1;
  position: relative;

  .image {
    width: 300px;
    height: 400px;
  }

  .blue-box {
    @include theme('background-color', $secondary);
    top: 30px;
    left: 30px;
  }

  .list-item {
    margin: 5px 0;
  }
  .circle {
    @include theme('background-color', $secondary);
    height: $badge-size;
    width: $badge-size;
    vertical-align: middle;
    border-radius: 50%;
  }

  .circle-txt {
    @include theme('color', $primary);    
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: $badge-size;
  }
}

#how-to-join {
  .blue-box {
    @include theme('background-color', $secondary);
    top: 30px;
    left: 40px;
  }
}

#projects {
  .blue-box {
    @include theme('background-color', $secondary);
    top: 10px;
    left: 20px;
  }
}

.past-projects {
  align-items: stretch;
  .heading {
    font-weight: 600;
    font-size: 25px;
  }
  .card {
    @include theme('background-color', $secondary);
    height: 100%;
    cursor: pointer;
    @media (min-width: $small-screen) {
      max-width: 18rem;
    }
  }

  .card-text {
    margin-bottom: 30px;
  }
  .learn-more-container {
    position: absolute;
    bottom: 15px;
  }

  .learn-more {
    @include theme('color', $primary);
    @include theme('background-color', $secondary);
    margin-top: 15px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.25s ease-out;
  }

  .learn-more:hover {
    cursor: pointer;
    @include theme('background-color', $secondary-hovered);
  }
}

#officer-team {
  .name {
    text-align: center;
    font-weight: 600;
  }

  .img-img {
    width: $officer-img-width;
    height: $officer-img-height;
  }

  /* Parent Container */
  .img-wrap {
    position: relative;
  }

  /* Child Text Container */
  .img-description {
    @include theme('background-color', $general-background);
    @include theme('color', $dark);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: $officer-img-height;
    width: $officer-img-width;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    text-align: center;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;

    .description-header {
      margin-bottom: 10px;
    }
  }

  /* Hover on Parent Container */
  .img-wrap:hover {
    cursor: pointer;
  }

  .img-wrap:hover .img-description {
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.8;
  }

  .caption {
    display: flex;
    justify-content: center;

    .github-icon {
      width: 18px;
      height: 18px;
      margin: 2px 0 0 10px;
    }
  }
}

footer {
  @include theme('border-top', $secondary);

  border-top: 2px solid $secondary;
  margin-top: 100px;
  height: 60px;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    width: 100vw;
    .acc-logo {
      width: 107px;
      height: 33px;
    }

    .links {
      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
}

// ---------------------- GLOBAL ----------------

* {
  @include theme('color', $dark);
  @include theme('background-color', $general-background);
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

body {
  @include theme('color', $dark);
  background-color: transparent;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

.btn-primary {
  border-radius: 0;
  padding: 10px 50px;
}

h1 {
  @include theme('color', $dark);
  font-weight: 600;
  font-size: 55px;
  text-align: center;
  margin: 70px 0 25px 0;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

h6 {
  text-align: center;
}

.no-small-display {
  @media (max-width: $small-screen) {
    display: none !important;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.center-small {
  @media (max-width: $small-screen) {
    display: flex;
    justify-content: center;
  }
}

.center-text-small {
  text-align: left;
  @media (max-width: $small-screen) {
    text-align: center;
  }
}

.center-margin-y {
  margin: auto 0;
}

.image-container {
  position: relative;
  z-index: 2;
  @include theme('background-color', $secondary);

  .blue-box {
    @include theme('background-color', $secondary);
    width: 300px;
    height: 400px;
    position: absolute;
    z-index: -1;
  }
}

