/* command: sass --watch src/static/index.scss:src/static/index.css */

$base-color: #0389CD;

nav {
    padding: 0px 10%;
    overflow: hidden;
    .navbar-brand {
        overflow: hidden;
        img {
            padding: 15px;
            height: 100%;
            max-height: 90px;
            width: auto;
            display: inline-block;
        }
    }
    ul {
    list-style-type: none;
    font-size: 16px;
    margin: 0;
    padding: 20px 0px;
    overflow: hidden;
    float: right;
    }

    li {
    float: left;
    }

    li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
    color: $base-color;
    text-decoration: none;
    }
}

body {
    p {
        font-size: 16px;
    }
}

section {
    padding: 5% 10% 2% 10%;
    overflow: hidden;
    margin: 0px;
    width: 100%;
    .intro-left {
        padding-top: 80px;
    }
    .intro-right {
        padding: 0px 50px;
        overflow: hidden;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
}


.intro {
    padding: 5% 10%;
    .small-title {
        font-size: 4rem;
        margin-bottom: 0px;
    }
    .big-title {
        margin-top: 0px;
        font-size: 6rem;
    }
    form {
        border: 1px solid grey;
        border-radius: 20px;
        max-width: 400px;
        .form-group {
            padding: 10px 20px;
            width: calc(100% - 70px);
            display: inline-block;
        }
        input {
            height: 30px;
            border: none;
            background: none;
        }
        button {
            margin-left: 20px;
            width: 35px;
            height: 35px;
            display: inline-block;
            background: $base-color;
            border: none;
            color: white;
            border-radius: 80px;
        }
    }
}

.about {
    img {
        padding: 40px 20px;
    }
    #meeting {
        margin-top: 30px;
    }
    #slack-button {
        margin-top: 20px;
        border: 1px grey solid;
        border-radius: 20px;
        width: 100%;
        max-width: 250px;
        padding: 15px;
        font-size: 18px;
        font-weight: bold;
        background-color: white;
        
        img {
            float: right;
            max-height: 1.5em;
            padding: 0px 20px 5px 20px;
        }
    }
}

.officer-card {
    padding: 0px 30px;
    margin-top: 40px;
    /*min-width: 400px; */
    .officer-img {
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    h4 {
        margin: 0px;
    }
    p {
        font-size: 14px;
    }

}

footer {
    background: $base-color;
    min-height: 100px;
    overflow: hidden;
    color: white;
    padding: 0px 10%;
    .links {
        padding: 20px 40px 40px 40px;
        min-width: 300px;
        float: right;
        p {
            padding: 0px 10px;
        }
    }
    a img {
        max-width: 60px;
        filter: invert(1);
        padding: 0px 15px;

    }
}