////declare your variables BEFORE importing bootstrap
$dark: #02233A;
$primary: #3766B4;
$secondary: #EEF6FF;
$custom-color: #0f5f35;
$nav-link-color: #969696;

$badge-size: 75px;
$officer-img-width: 250px;
$officer-img-height: 250px;

@import "bs-scss/bootstrap";

.welcome {
  background-color: $secondary;
  @media (min-width: 768px) {
    border-radius: 25px;
  }

  .welcome-content {
    padding: 60px 40px;
  }

  .welcome-heading {
    text-align: left;
    font-weight: 600;
    font-size: 55px;
    @media(max-width: 768px) {
      text-align: center;
    }

    .heading-emphasis {
      color: $primary;

      //display: inline-block;
      //@media(max-width: 768px) {
      display: block;
      //}

    }
  }
}

.fake-pic {
  background-color: $secondary;
  border: 1px solid $primary;
  height: 400px;
}

#what-we-do {

  .fake-pic {
    background-color: $secondary;
    border: 1px solid $primary;
    height: 300px;
  }

  .circle {
    background-color: $secondary;
    height: $badge-size;
    width: $badge-size;
    vertical-align: middle;
    border-radius: 50%;
  }

  .circle-txt {
    text-align: center;
    color: $primary;
    font-weight: bold;
    font-size: 30px;
    line-height: $badge-size;
  }
}

.past-projects {
  .heading {
    font-weight: 600;
    font-size: 25px;
  }
  .card {
    background-color: $secondary;
    cursor: pointer;
    @media(min-width: 768px) {
      max-width: 18rem;
    }
  }
}

.officer-team {
  .name {
    text-align: center;
    font-weight: 600;
  }

  .img-img {
    width: $officer-img-width;
    height: $officer-img-height;
  }

  /* Parent Container */
  .img-wrap{
    position: relative;
  }

  /* Child Text Container */
  .img-description {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    height: $officer-img-height;
    width: $officer-img-width;
    color: black;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    text-align: center;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;

  }

  /* Hover on Parent Container */
  .img-wrap:hover{
    cursor: pointer;
  }

  .img-wrap:hover .img-description{
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.8;
  }
}

#former-officers {
  display: none;
}

// config
* {
  color: $dark;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

.btn-primary {
  border-radius: 0;
  padding: 10px 50px;
}


// navbar
.navbar-nav {
  flex-direction: row;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    padding: 15px;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
    text-decoration-color: $primary;
    text-decoration-thickness: 3px;
    color: $dark;
  }
}

a {
  color: $nav-link-color;
  text-decoration: none;
  transition: all 1s ease-out;
}

h1 {
  font-weight: 600;
  color: $dark;
  font-size: 55px;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
}

h6 {
  text-align: center;
}

.no-small-display {
  @media(max-width: 768px) {
    display: none;
  }
}

.center-small {
  @media(max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.center-text-small {
  text-align: left;
  @media(max-width: 768px) {
    text-align: center;
  }
}

.center-margin-y {
  margin: auto 0;
}
